.DS_Store

## Installed dependencies
node_modules/

## Typescript's output & definition files
dist/

## PouchDB data
local/

## Jest Snapshots
__snapshots__/

## Jest Coverage
coverage/

## Visual Studio Code Settings
.vscode
